:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-text-color: #212121;
  --primary-white-color: #ffffff;
  --dark-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.header {
  position: relative;
  border-bottom: solid 1px #ececec;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header > .container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin-right: 94px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.logo--white {
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.logo__text {
  color: var(--accent-color);
}

.logo__button {
  margin-left: auto;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  z-index: 998;
}

.logo__button:hover, .logo__button:focus {
  cursor: pointer;
}

.logo__button:hover .logo__icon,
.logo__button:focus .logo__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 767.98px) {
  .logo__button {
    display: none;
  }
}

.logo__button.is-open .icon-cross {
  display: block;
}

.logo__button.is-open .icon-menu {
  display: none;
}

.icon-cross {
  display: none;
}

.logo__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__item--current {
  position: relative;
  color: var(--accent-color);
}

.nav-list__item--current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-list__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-list__link:hover, .contact-list__link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-list__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-list {
    display: block;
  }
}

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 997;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 767.98px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-Js-noScroll {
  overflow: hidden;
}

.mobile-menu__nav {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.mobile-menu__phone-num {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__social {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
  flex-wrap: wrap;
  color: var(--accent-color);
}

.mobile-menu__social .item {
  margin-bottom: 10px;
}

.mobile-menu__social .item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 480px) {
  .mobile-menu__social {
    font-size: 18px;
  }
}

.mobile-menu__item--current {
  color: var(--accent-color);
}

.mobile-menu__social-line {
  margin-left: 10px;
  color: rgba(33, 33, 33, 0.2);
}

.hero__title {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (max-width: 1199.99px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}

.hero__button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:hover {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 40px;
  z-index: 999;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479.98px) {
  .modal {
    margin-right: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-content__title {
  width: 100%;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1199.98px) {
  .modal-content__title {
    line-height: 1.5;
  }
}

.modal-content__label {
  width: 100%;
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: start;
}

.modal-content__label:nth-child(n + 3) {
  margin-top: 10px;
}

.modal-content__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content__input {
  width: 100%;
  margin-top: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content__input:hover, .modal-content__input:focus {
  border-color: var(--accent-color);
}

.modal-content__input:hover + .modal-content__icon,
.modal-content__input:focus + .modal-content__icon {
  fill: var(--accent-color);
}

#modal-content-comment {
  padding: 12px 16px;
}

#modal-content-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (max-width: 1199.98px) {
  #modal-content-comment::placeholder {
    font-size: 14px;
    line-height: 1.14;
  }
}

.modal-content__checkbox-label {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1199.98px) {
  .modal-content__checkbox-label {
    font-size: 11.9px;
    line-height: 1.16;
  }
}

.modal-content__checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-content__checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.modal-content__checkbox-link {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-content__checkbox:checked + .modal-content__checkbox-icon {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-origin: border-box;
}

.modal-content__submit-button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content__submit-button:hover, .modal-content__submit-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.modal-content__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-content__close-button:hover .modal-content__close-button-icon,
.modal-content__close-button:focus .modal-content__close-button-icon {
  fill: var(--accent-color);
}

.modal-content__close-button-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767.99px) {
  .features__title {
    text-align: center;
  }
}

@media screen and (min-width: 767.99px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1199.99px) {
  .features__list {
    margin: -15px;
  }
}

@media screen and (min-width: 767.99px) {
  .features__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1199.99px) {
  .features__item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

@media screen and (min-width: 480px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 767.99px) {
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1199.99px) {
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.features__icon-bg {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.occupation__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  color: var(--secondary-text-color);
}

.occupation__list {
  display: flex;
}

.occupation__item {
  position: relative;
}

.occupation__item:not(:last-child) {
  margin-right: 30px;
}

.occupation__text {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  z-index: 1;
  color: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767.99px) {
  .team__title {
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 767.99px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-item {
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 767.99px) {
  .team-item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1199.99px) {
  .team-item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (max-width: 767.99px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-item__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.team-item__text {
  font-size: 16px;
  line-height: 1.18;
}

.social-net {
  margin-top: 16px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1199.99px) {
  .social-net {
    justify-content: center;
  }
}

.social-net__link {
  padding: 12px;
  display: flex;
  fill: #afb1b8;
  border-radius: 50%;
  transition-property: background-color, fill, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-net__link:hover, .social-net__link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
  cursor: pointer;
}

.social-net__item:not(:last-child) {
  margin-right: 10px;
}

.regular-clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767.99px) {
  .regular-clients__title {
    font-size: 28px;
    line-height: 1.18;
  }
}

.regular-clients__link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients__link:hover, .regular-clients__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.regular-clients__item {
  margin: 15px;
}

@media screen and (max-width: 767.98px) {
  .regular-clients__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 767.99px) {
  .regular-clients__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1199.99px) {
  .regular-clients__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.regular-clients__list {
  display: flex;
  margin: -15px;
}

@media screen and (max-width: 1199.99px) {
  .regular-clients__list {
    flex-wrap: wrap;
  }
}

.footer__address {
  margin-bottom: 9px;
  font-style: normal;
  color: var(--primary-white-color);
}

.footer__contact-list {
  color: rgba(255, 255, 255, 0.6);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 767.98px) {
  .join {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199.98px) {
  .join__title {
    text-align: center;
  }
}

.join__link {
  padding: 12px;
  display: flex;
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
}

.join__list {
  display: flex;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.subscribe-form__label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscribe-form__input {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 16px;
  border-color: rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--dark-background-color);
}

.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .subscribe-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}

.subscribe-form__button {
  width: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--primary-white-color);
}

@media screen and (max-width: 1199.98px) {
  .subscribe-form__button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe-form__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.button {
  padding: 6px 22px;
  background: var(--secondary-background-color);
  border-radius: 4px;
  border: none;
}

.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767.98px) {
  .filter-list {
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: flex-start;
  }
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767.98px) {
  .filter-list__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter-list__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button:hover, .filter-list__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .our-works__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (max-width: 767.98px) {
  .our-works__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1199.98px) {
  .our-works__item {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.our-works__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-works__link:hover, .our-works__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-works__link:hover .our-works__overlay,
.our-works__link:focus .our-works__overlay {
  transform: translateY(0);
}

.our-works__description {
  position: absolute;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.our-works__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.our-works__content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.our-works__text {
  font-size: 16px;
  line-height: 1.87;
}

@media screen and (min-width: 767.98px) {
  .our-works__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.our-works__thumb {
  position: relative;
  overflow: hidden;
}

.our-works__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.header-content {
  width: 100%;
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-content {
    align-items: center;
  }
}

@media screen and (max-width: 767.98px) {
  .header-content {
    display: none;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 767.99px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1199.99px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.99px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 1199.99px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.overlay-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767.98px) {
  .overlay-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-480.jpg);
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .overlay-hero {
    background-image: url(../images/hero/hero-480@2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay-hero {
    max-width: 880px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay-hero {
    background-image: url(../images/hero/hero-768@2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay-hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-1200.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay-hero {
    background-image: url(../images/hero/hero-1200@2.jpg);
  }
}

.occupation {
  padding-bottom: 94px;
  text-align: center;
}

@media screen and (max-width: 1199.98px) {
  .occupation {
    display: none;
  }
}

.team {
  text-align: center;
  background-color: var(--secondary-background-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

@media screen and (min-width: 767.98px) {
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1199.98px) {
  .footer-content {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199.98px) {
  .contacts {
    text-align: center;
  }
  .contacts .logo--white {
    margin-right: 0;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .form-container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1199.98px) {
  .subscribe-form {
    display: flex;
    align-items: flex-end;
  }
}

.subscribe-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199.98px) {
  .subscribe-container {
    text-align: center;
  }
}

@media screen and (min-width: 1199.98px) {
  .our-works {
    padding-top: 94px;
  }
}
/*# sourceMappingURL=styles.css.map */