.footer-content {
  @media screen and (min-width: 767.98px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1199.98px) {
    justify-content: space-between;
  }
}
