.contact-list {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}
