.features__icon-bg {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}
