.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  @media screen and (max-width: 767.99px) {
    text-align: center;
  }
}
