.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767.98px) {
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: flex-start;
  }
}

.filter-list__item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  &:nth-child(-n + 3) {
    @media screen and (max-width: 767.98px) {
      margin-bottom: 15px;
    }
  }
}
