.header {
  position: relative;
  border-bottom: solid 1px #ececec;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header > .container {
  display: flex;
  align-items: center;
}
