.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav-list__item--current {
  position: relative;
  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
