.regular-clients__link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.regular-clients__item {
  margin: 15px;
  @media screen and (max-width: 767.98px) {
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 767.99px) {
    width: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: 1199.99px) {
    width: calc((100% - 6 * 30px) / 6);
  }
}
