.subscribe-form__button {
  width: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--primary-white-color);

  @media screen and (max-width: 1199.98px) {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
